*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1980px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
}
.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.close{

    color: rgb(246, 150, 121);
    font-size: 30px;
    cursor: pointer;
}

.hamburgur{
 color: rgb(246, 150, 121);
 font-size: 30px;
 cursor: pointer;


}
.mobile-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 111;
    top: 50px;
    background-color: white;
    width: 150px;
    padding: 10px;
    height: 200px;
    display: none;
}
.mobile-navbar li{
    list-style: none;
    padding: 6px 0px;
    margin: 0px auto;
}
.mobile-navbar li a:hover{
    color: rgb(246, 150, 121);
}
.mobile-navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.nav-btn{
    background-color: rgb(246, 150, 121);
    border: none;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/* Navigation section ends */

.hero-top{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: auto;
}
.hero{
    position: relative;
    margin-top: 15px;
}

.hero-logo{
    max-width: 220px;
}
.hero-logo img{
    width: 100%;
}




.heroImg{
    width: 100%;
}
.heroImg img{
    width: 100%;
    object-fit: fill;
    height: auto;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 30px; */
    text-align: center;
    font-family: "Baskerville Old Face";
    font-weight: 100;
}
.hero-text h2{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
}
.hero-text h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 4px;
}
.hero-btn{
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: rgb(246, 150, 121);
    border: none;
    padding: 1px 5px;
}

.line-orange{
    background-color: rgb(246, 150, 121);
    width: 1000px;
    height: 10px;
}
.hero-top-text{
    font-size: 1.6rem;
}
.hero-top-text span{
    color: rgb(246, 150, 121);
}


/* Hero section ends here */

.kitchen-studio{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.kitchen-studio-heading{
    text-align: center;
    font-family: "Austen";
}

.kitchen-studio-heading > span{
    color: rgb(246, 150, 121);
}

.kitchen-studio-items{
    display: flex;
    gap: 40px;
    padding: 20px;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
}
.kitchen-studio-items >:nth-child(1){
    margin-top: 100px;
    max-width: 500px;
}
.kitchen-studio-items >:nth-child(2){
    margin-top: 200px;
    max-width: 650px;
}
.kitchen-studio-items >:nth-child(3){
    margin-top: 150px;
    max-width: 500px;
    
}

.kitchen-studio-pics img{
    width: 100%;
    object-fit: fill;
}
.kitchen-studio-text{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    /* position: relative; */
    
}
.kitchen-studio-text>p{
    font-size: 24px;
    line-height: 1.3;
}
.kitchen-studio-text-headline{
    position: relative;
    color: rgb(246, 150, 121);
    margin-bottom: 40px;
    font-size: 50px;
    
}
.line-black{
    width: 325px;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: -5px;
}
.line-black2{
    margin-top: 5px;
    width: 301px;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: -15px;
    margin-left: 10px;
}

.kitchen-studio-text > p{
    width: 300px;
    text-align: center;
}



/* project section strts  */
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.projects-heading{
    position: relative;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.projectImg{
    width: 100%;
}
.projectImg img{
    width: 100%;
    object-fit: cover;
}
.orange-line{
    width: 524px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    bottom: -8px;

}
.orange-line2{
    width: 490px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    bottom: -18px;
    margin-left: 15px;

}




/* About Section */

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(246, 150, 121, 0.204) ;
    padding-top: 40px;
    padding-bottom: 40px;    
}
.about-heading{
    position: relative;
    margin-bottom: 40px;
}
.about-us-line{
    position: absolute;
    width: 130px;
    height: 4px;
    background-color:rgb(246, 150, 121) ;
}
.about-us-line2{
    position: absolute;
    width: 118px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    bottom: -10px;
    margin-left: 6px;
}

.about-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0px 50px;
}
.about-detail-pic{
    max-width: 600px;
}
.about-detail-pic img{
    width: 100%;
    object-fit: fill;
}
.about-para{
    width: 450px;
    font-size: 20px;
    line-height: 1.3;
}
.about-detail-text{
    position: relative;
}
.white-line{
    position: absolute;
    left: -60px;
    height: 502px;
    width: 7px;
    bottom: -140px;
    background-color: white;
    border-radius: 13px;
}



/* products section */
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-heading {
    text-transform: uppercase;
    margin-top: 20px; 
    margin-bottom: 40px;
    position: relative;
}
.products-heading >span{
    /* position: relative; */
    color: rgb(246, 150, 121) ;
}

.products-line{
    width: 350px;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    margin-left: -5px;
}
.products-line2{
    margin-top: 5px;
    width: 323px;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: -15px;
    margin-left: 7px;
}

.product-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding:30px;
    background-image: url('./Images/products-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(246, 150, 121, 0.21) ;
    width: 100%;
}
.psection1{
    display: flex;
}
.psection2{
    display: flex;
}
.product{
    display: flex;
    position: relative;
}
.product-image{
    max-width: 600px;
}
.product-image img{
    width: 100%;
    object-fit: fill;
}

.productHeading:nth-child(1){
    background-color: white;
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 22px;
    border: 1px solid black;
    border-left: none;
    padding-bottom: 10px;
    padding-right: 5px;
    position: relative;
    top: 50%;
    transform: translate(0% -50%);
}
.product-name{
    position: relative;
    display: flex;
    font-size: 26px;
}
.productHeading{
    background-color: white;
    width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 22px;
    border: 1px solid black;
    border-right: none;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}
.product-name .circle{
    margin-top: 10px;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
}
.un-line{
    width: 106%;
    height: 4px;
    background-color:rgb(246, 150, 121) ;
    position: absolute;
    bottom: -5px;
}


/* projects-in-process section */
.projects-in-process{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-in-process-heading{
    position: relative;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.projects-section{
    /* background-color:rgba(246, 150, 121, 0.21) ; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0px;
}
.project-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    perspective: 1000px;
}
.project-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    background-color: white;
    border: 1px solid rgb(246, 150, 121);
    border-radius: 10px;
    cursor: pointer;

}
.project-image:hover img{
    transform: rotate(360deg);
    transition: all ease 0.5s;
}
.last-one{
    background-color:rgb(246, 150, 121) ;
    border-radius: 10px;
}
.last-one > p{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.orange-line-in-process{
    width: 461px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    bottom: -8px;

}
.orange-line-in-process2{
    width: 427px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    bottom: -18px;
    margin-left: 15px;

}


/* FAQS Section */
/* 
.faqs{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.faqs-heading{
    position: relative;
    margin: 40px 0px;
}

.orange-line-faqs{
    width: 409px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    bottom: -8px;

}
.orange-line-faqs2{
    width: 374px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    bottom: -18px;
    margin-left: 16px;

}
.faq-input{
    width: 300px;
    margin-bottom: 10px;
    background-color:rgba(246, 150, 121, 0.2) ;
    outline: none;
    border: none;
    padding: 2px 4px;
}
.faq-btn{
    background-color: rgb(246, 150, 121);
    padding: 4px 6px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    margin-left: -220px;
    cursor: pointer;
} */
/* Contact us section */


.contact-us{
    background-image: url('./Images/contact-us-bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    margin-top: 40px;
}
.bg-overlay{
    background-color: rgb(246, 150, 121);
    position: absolute;
    width: 100%;
    height: 80vh;
    opacity: 0.141;
    z-index: 222;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    opacity: 0.651;
    max-width: 500px;
    width: 400px;
    height: 250px;
    padding: 20px;
    z-index: 2222;
}

.contact-heading{
    font-size: 22px;
    position: relative;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
}
.contactHeading-line{
    width: 150px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    left: -5px;
}
.contactHeading-line2{
    width: 129px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    left: 3px;
    bottom: -12px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11111;
}
.inputs input{
    border: 1px solid rgb(239, 235, 235) ;
    background-color: rgb(254, 240, 236);
    padding: 2px 4px;
    border-radius: 4px;
}
.inputs input:last-child{
    background-color: rgb(246, 150, 121);
    padding: 2px 30px;
    border-radius: 6px;
    color: white;
}
.inputs{
    margin-top: 30px;
}

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(253, 253, 253);
    opacity: 0.651;
    max-width: 500px;
    width: 400px;
    height: 250px;
    padding: 20px;
    z-index: 2222;
}

.cta-heading{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.cta-btn button{
    background-color: rgb(246, 150, 121);
    padding: 5px 30px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 20px;
    color: white;
    text-transform: capitalize;
}



/* Footer section */
footer{
    background-color:rgb(246, 150, 121) ;
    margin-top: 20px;
    padding: 10px;
    position: relative;
    min-height: 300px;
    padding-left: 40px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-heading{
    text-transform: uppercase;
}
.footer-span{
    font-weight: bold;
}
.footer-bottom{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}
.footerLogo{
    max-width: 400px;
    margin:20px 0px;
}

.footerLogo img{
    width: 100%;
}
.subscribe-us{
    height: 160px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(253, 253, 253);
  opacity: 0.651;

}

.subscribeHeading-line{
    width: 135px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    left: -15px;
}
.subscribeHeading-line2{
    width: 102px;
    height: 4px;
    background-color: rgb(246, 150, 121);
    position: absolute;
    left: 3px;
    bottom: -12px;
}
.subscribe-heading{
    position: relative;
}
.footer-input{
    background-color: #fff !important;
    padding: 2px 4px;
    margin-top: 10px;
    outline: none;
    opacity: 0.9;
}



/* Media Queries */
@media screen and (max-width: 1280px) {
    .kitchen-studio-text-headline{
        font-size: 30px;
    }
    .line-black{
        width: 203px;
    } 
    .line-black2{
        width: 182px;
    } 
    .kitchen-studio-text>p{
        font-size: 20px;
    }

}
@media screen and (max-width: 800px) {
    footer{
        height: 440px;
    }
    .footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .psection1{
        flex-direction: column;
        align-items: center;
    }
    .psection2{
        flex-direction: column;
    }
    
    .product{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }
    .product:last-child{
        align-items: flex-end;
        margin-bottom: -30px;
    }
    .product>.productHeading{
        display: flex;
        align-items: center;
        margin-top: 10px;
        height: fit-content;
    }
    .productHeading:nth-child(1){
        width: 120px;
        height: fit-content;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 22px;
        border: none;
        margin-bottom: -40px;
    }
    .product-name{
        position: relative;
        display: flex;
        font-size: 26px;
    }
    .productHeading{
        width: 120px;
        height: fit-content;
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 22px;
        border: none;
    }

}
@media screen and (max-width: 700px) {
    .contact-us{
        flex-direction: column;
    }
}
@media screen and (max-width: 668px) {
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    .kitchen-studio-items{
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
    .kitchen-studio-heading{
        margin-top: 10px;
    }
    .kitchen-studio-items >:nth-child(1){
        margin-top: 20px;
        max-width: 300px;
    }
    .kitchen-studio-items >:nth-child(2){
        margin-top: 20px;
        max-width: 300px;
    }
    .kitchen-studio-items >:nth-child(3){
        margin-top: 20px;
        max-width: 300px;
        
    }
    .kitchen-studio-pics{
        width: 300px;
    }
    .about-details{
        flex-direction: column;
    }
    .about-detail-pic{
        max-width: 400px;
    }
    .white-line{
        height: 341px;
    }
}


@media screen and (max-width: 562px) {
    .projects-heading{
        font-size: 1.5em;
    }

    .orange-line{
        width: 399px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -8px;
    
    }
    .orange-line2{
        width: 370px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -18px;
        margin-left: 15px;
    
    }
    .kitchen-studio-heading{
        font-size: 1.5em;
    }
    .projects-in-process-heading{
        font-size: 1.5em;
    }
    .orange-line-in-process {
        width: 351px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -8px;
    }
    .orange-line-in-process2 {
        width: 319px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -18px;
        margin-left: 15px;
    }
    .projects-heading{
        font-size: 1.5em;
    }

    nav ul{
        display: none ;
    }
    .footer-heading{
        text-transform: uppercase;
        font-size: 25px;
    }
    .about-para{
        width: 350px;
    }
}




@media screen and (max-width: 468px) {
    .hero-top-text{
        font-size: 20px;
    }
    .hero-text h2{
        font-size: 20px;
    }
    .hero-text h1{
        font-size: 40px;
        line-height: 1.3;
    }

    .hero-btn{
        right: 8px;
    }
    .projects-heading{
        font-size: 1.1em;
    }

    .orange-line{
        width: 295px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -8px;
    
    }
    .orange-line2{
        width: 265px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -18px;
        margin-left: 15px;
    
    }
    .kitchen-studio-heading{
        font-size: 1.1em;
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .projects-in-process-heading{
        font-size: 1.1em;
    }
    .orange-line-in-process {
        width: 250px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -8px;
    }
    .orange-line-in-process2 {
        width: 220px;
        height: 4px;
        background-color: rgb(246, 150, 121);
        position: absolute;
        bottom: -18px;
        margin-left: 15px;
    }
    .projects-heading{
        font-size: 1.1em;
    }
    .faqs-heading{
        font-size: 1.1em;
    }
    .orange-line-faqs{
        width: 220px;
    }
    .orange-line-faqs2{
        width: 190px;
    }


    .products-heading{
        font-size: 1.2em;
    }
    .products-line{
        width: 154px;
        margin-left: 33px;
    }
    .products-line2{
        width: 125px;
        margin-left: 48px;
    }

    .product-section{
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 30px;
    }
    .product{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .product-2{
        margin-top: 0px;
    }
    nav ul{
        display: none ;
    }
    .footer-heading{
        text-transform: uppercase;
        font-size: 20px;
    }
    /* .footer-heading>p {
        font-size: 10px;
    } */
    .footer-bottom>p {
        font-size: 12px;
        text-align: center;
    }
    .contact-info{
        width: 300px;
    }
    .cta{
        width: 300px;
    }
    .about-details{
        padding: 0px 10px;
    }
    .about-para{
        width: 350px;
    }
    .white-line{
        display: none;
    }
}

@media screen and (max-width: 468px) {
    .about-para{
        width: 300px;
    }
    .about-detail-pic{
        max-width: 300px;
    }
    .contact-info{
        width: 250px;
    }
    .cta{
        width: 250px;
    }
    .subscribe-us{
        height: 170px;
    }
    footer {
        height: 480px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 320px) {
    .projects-heading{
        font-size: 1rem;
    }
    .orange-line {
        width: 270px;
    }
    .orange-line2 {
        width: 240px;
    }
    .about-detail-pic{
        max-width: 200px;
    }
    .about-para{
        width: 250px;
    }
    .hero-text h2 {
        font-size: 16px;
    }
    .hero-text h1 {
        font-size: 30px;
        line-height: 1.1;
    }
    .kitchen-studio-text>p {
        font-size: 18px;
        width: 250px;
    }
}

@media screen and (max-width: 300px){
    .projects-heading{
        font-size: .8rem;
    }
    .orange-line {
        width: 230px;
    }
    .orange-line2 {
        width: 200px;
    }
    .kitchen-studio-items >:nth-child(1){
        margin-top: 20px;
        max-width: 200px;
    }
    .kitchen-studio-items >:nth-child(2){
        margin-top: 20px;
        max-width: 200px;
    }
    .kitchen-studio-items >:nth-child(3){
        margin-top: 20px;
        max-width: 200px;
        
    }
}